backend/src/Loto6Results.csv
backend/src/Loto7Results.csv
backend/src/Loto6Statistics.csv
backend/src/Loto7Statistics.csv
backend/src/Loto6LatelyStatistics.csv
backend/src/Loto7LatelyStatistics.csv
backend/src/server.exe
